# Schedule Enhancer Snippet

^https?:\/\/patientcloud\.sysucc\.org\.cn\/webappm\/appointModule\/appointment\/doctorSchedule url script-response-body https://raw.githubusercontent.com/xcaiii/Proxy_Rules/main/QuantumultX/doctor_schedule.js

hostname = patientcloud.sysucc.org.cn
