# 中肿 (SYSUCC) 微信挂号智能抢号助手
# Quantumult X Snippet 订阅规则

^https?:\/\/patientcloud\.sysucc\.org\.cn\/webappm\/appointModule\/appointment\/doctorSchedule url script-response-body https://raw.githubusercontent.com/xcaiii/Proxy_Rules/main/QuantumultX/sysucc_snatcher.js

hostname = patientcloud.sysucc.org.cn
