# 南方医科大学皮肤病医院 (微健康) 智能预约与准点突击 Snippet
# 目标域名: mp.mhealth100.com

^https?:\/\/mp\.mhealth100\.com\/patient\/registration\/ url script-response-body https://raw.githubusercontent.com/xcaiii/Proxy_Rules/main/QuantumultX/Rewrite/smu_derm_schedule.js

hostname = mp.mhealth100.com
